@use '../../assets/styles/mixin';
@use '../../assets/styles/font';
@use '../../assets/styles/variables';

.series-panel {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

app-series {
  border: 1px solid green;
  flex: 0 0 150px;
  height: 150px;
  margin-right: 10px;
  position: relative;
  z-index: 1;
}
app-series:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
