<app-button-group>
  <button app-button [content]="'text'" [text]="'local volume'" [isToggle]="true" (click)='switchImage(imageInfoVolume)'></button>
  <button app-button  [content]="'text'" [text]="'remove volume'" [isToggle]="true"  (click)='switchImage(imageInfoRemote)'></button>
  <button app-button [content]="'text'"  [text]="'local stack'" [isToggle]="true"  (click)='switchImage(imageInfoStack)'></button>
  <button app-button [content]="'text'"  [text]="'local volume2'" [isToggle]="true"  (click)='switchImage(imageInfoVolume2)'></button>
</app-button-group>

<app-image-box [imageInfo]="imageInfo"></app-image-box>
