<div class="operations">
  <app-tool-group
    [toolList]="toolList"
    [viewportIds]="viewportIds"
    [renderingEngineId]="renderingEngineId"
    [focusedViewportId]="focusedViewportId"
    [viewportType]="viewportType"
  ></app-tool-group>
</div>
<div class="container">
  <ng-container *ngFor="let config of viewportConfigs">
    <app-viewport
      [class.hidden]="config.type !== viewportType"
      [viewportId]="config.viewportId"
      [renderingEngineId]="renderingEngineId"
      [focus]="config.viewportId === focusedViewportId"
      (click)="focusViewport(config.viewportId)"
    ></app-viewport>
  </ng-container>
</div>
