.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: start;
  height: 800px;
}

app-tool-group {
  display: inline-flex;
}

.hidden {
  // display: none;
  visibility: hidden;
}
