<div class="operations">
  <tool-group [toolList]="toolList" [toolGroupId]="toolGroupId" [viewportId]='viewportId' [renderEngineId]='renderingEngineId'></tool-group>
  <select (change)="changeOrientation($event)">
    <option
      *ngFor="let value of orientationList"
      [value]="value"
      [label]="value"
      [selected]="orientation === value"
    ></option>
  </select>
</div>
<div class="container">
  <app-viewport
    [viewportId]="viewportId"
    [orientation]="orientation"
  ></app-viewport>
</div>
