/*
Green series
 */
$green-1: #e8fffb;
$green-2: #effff7;
$green-3: #90f5eb;
$green-4: #64ebdf;
$green-5: #3bdbdf;
$green-6: #17cecf;
$green-7: #0aa3a8;
$green-8: #017982;
$green-9: #00535c;
$green-10: #002e36;

/*
White/Black series
 */
$white-1: #333;
$white-2: #474747;
$white-3: #595959;
$white-4: #808080;
$white-5: #a6a6a6;
$white-6: #ccc;
$white-7: #d9d9d9;
$white-8: #e6e6e6;
$white-9: #f2f2f2;
$white-10: #fefefe;
$white-11: #fff;

/*
Red series
 */
$red-1: #d81665;
$red-2: #74231a;
$red-3: #f5222d;

/*
Yellow series
 */
$yellow-1: #faad14;

/*
Font light series
 */
$font-light-1: rgb(0 0 0 / 85%);
$font-light-2: rgb(0 0 0 / 65%);
$font-light-3: rgb(0 0 0 / 45%);
$font-light-4: rgb(0 0 0 / 25%);
$font-light-5: rgb(0 0 0 / 15%);
$font-light-6: rgb(0 0 0 / 60%);
$font-light-7: rgb(0 0 0 / 20%);

/*
Font dark series
 */
$font-dark-1: rgb(255 255 255 / 85%);
$font-dark-2: rgb(255 255 255 / 65%);
$font-dark-3: rgb(255 255 255 / 45%);
$font-dark-4: rgb(255 255 255 / 30%);
$font-dark-5: rgb(255 255 255 / 20%);
$font-dark-6: rgb(255 255 255 / 12%);
