/*
Green series
 */
$green-1: #e8fffb;
$green-2: #effff7;
$green-3: #90f5eb;
$green-4: #64ebdf;
$green-5: #3bdbdf;
$green-6: #17cecf;
$green-7: #0aa3a8;
$green-8: #017982;
$green-9: #00535c;
$green-10: #002e36;


/*
White/Black series
 */
$white-1: #333333;
$white-2: #474747;
$white-3: #595959;
$white-4: #808080;
$white-5: #a6a6a6;
$white-6: #cccccc;
$white-7: #d9d9d9;
$white-8: #e6e6e6;
$white-9: #f2f2f2;
$white-10: #fefefe;
$white-11: #ffffff;
/*
Red series
 */
$red-1: #d81665;
$red-2: #74231A;
$red-3: #f5222d;

/*
Yellow series
 */
$yellow-1: #faad14;
