<div class="collapse__header" [class.disabled]="disabled" role="button" (click)="clickHeader()" [id]="id">
  <div *ngIf="!hideIndicator" class="collapse__indicator" [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'">
    <ng-template #defaultIcon>
      <div class="collapse__icon_default"></div>
    </ng-template>
    <ng-container *ngTemplateOutlet="iconTemplate ? iconTemplate : defaultIcon"></ng-container>
  </div>

  <div class="collapse__title">
    <span *ngIf="title"> {{ title }}</span>
    <ng-content *ngIf="!title" select="[collapse-title]"></ng-content>
  </div>

  <div class="collapse__description" *ngIf="_portal">
    <ng-template [cdkPortalOutlet]="_portal"></ng-template>
  </div>
</div>
<div class="collapse__content" [@bodyExpansion]="expanded ? 'expanded' : 'collapsed'">
  <ng-content></ng-content>
</div>
