/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';

body,
app-root {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  margin: 0;
}
