<button (click)="onClick()" style="color: black">show/hide</button>

<select (change)="changeImage($event)">
  <option value="-1" [selected]="imageIndex === -1">No Image</option>
  <option
    *ngFor="let value of imageInfos; index as i"
    [value]="i"
    [label]="getImageDisplayName(i)"
    [selected]="imageIndex === i"
  ></option>
</select>

<select (change)="changeSegment($event)">
  <option value="-1" [selected]="segmentIndex === -1">No Segment</option>
  <option
    *ngFor="let value of segmentInfos; index as i"
    [value]="i"
    [label]="getSegmentDisplayName(i)"
    [selected]="segmentIndex === i"
  ></option>
</select>

<button (click)="openDialog()">Open dialog</button>

<nc-viewer
  *ngIf="showImageViewer"
  id="12345"
  class="container"
  [toolList]="toolList"
  [layout]="layout"
  [imageInfo]="imageInfo"
  [segmentInfo]="segmentInfo"
></nc-viewer>
